<div id="clickee"></div>

<script type="text/javascript">

	$(function(){

		$('#clickee').css({
			"top": "<%= @y %>px",

			"left": "<%= @x %>px"
		});

		$("body").click(function(e) {
			$('#clickee').css({
				"top": "" + e.pageY + "px",
				"left": "" + e.pageX + "px"
			});
			$.ajax({
        		url: "/update",
        		method: "PUT",
        		data: { clickee: { x : e.pageX, y: e.pageY } }
      		});
    	});

	});

</script>
