<% @clickees.each do |clickee| %>
	<div class="clickees" id="clickee<%= clickee.id %>"></div>
<% end %>

<script type="text/javascript">

	$(function(){

		<% @clickees.each do |clickee| %>

			$('#clickee<%= clickee.id %>').css({
				"top": "<%= clickee.y %>px",
				"left": "<%= clickee.x %>px"
			});

		<% end %>

		$("body").click(function(e) {

			$.get("/lastID.json", function(data){
				console.log(data.id);
				$("body").append('<div class="clickees" id="clickee'+ data.id +'"</div>');

			$('#clickee' + data.id + '').css({
				"top": "" + e.pageY + "px",
				"left": "" + e.pageX + "px"
			});

      			$.post("/clickpoint", { clickee: { x : e.pageX, y: e.pageY }});
      			
			});

			

    	});

	});

</script>
